body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header CSS */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}

.header-dashboard h2 {
    margin: 0;
    margin-left: 3px;
    font-size: 28px;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Sidebar CSS */
.sidebar-container {
    width: 160px;
    height: calc(100vh - 70px);
    background-color: #ffffff;
    padding: 20px 0;
    position: fixed;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
}

.sidebar-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-items li {
    padding: 15px 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.sidebar-items li a {
    text-decoration: none;
    color: #696969;
    cursor: pointer;
}

.sidebar-items li a:hover {
    color: #000000;
}

.sidebar-items li i {
    margin-right: 15px;
}

.sidebar-items .logout {
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 100%;
    padding: 15px 20px;
}

.sidebar-items .logout a {
    color: #fb3b1e;
}

.sidebar-items .logout a:hover {
    color: #cc0000;
}

.content-container {
    margin-left: 180px;
    padding: 20px;
}

/* Submission Step Styles */
.submission-step {
    margin-bottom: 30px;
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submission-step h3 {
    margin-bottom: 20px;
    color: #000; /* Changed text color to black */
}

.submission-step form label {
    margin-bottom: 10px;
    color: #000; /* Changed text color to black */
}

.submission-step form input,
.submission-step form select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.submission-step form button {
    padding: 10px 20px;
    background-color: #000; /* Black background color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submission-step form button:hover {
    background-color: #333; /* Darker color on hover */
}