.title-container {
    text-align-last: left;
    margin-left: 13%;
    margin-top: 27px;
    font-size: 15px;
}

.title {
    margin: 0;
}

.profile-details {
    text-align: left;
    margin-left: 13%;
    font-size: 15px;
    
}
